data/*
!data/modelscope-cache/
data/modelscope-cache/*
!data/modelscope-cache/hub/
data/modelscope-cache/hub/*
!data/modelscope-cache/hub/models/
data/modelscope-cache/hub/models/*
!data/modelscope-cache/hub/models/Qwen/
data/modelscope-cache/hub/models/Qwen/*
!data/modelscope-cache/hub/models/Qwen/Qwen2___5-1___5B-Instruct/
!data/modelscope-cache/hub/models/Qwen/Qwen2___5-1___5B-Instruct/**
*.tar
*.tar.part-*
deploy/ascend-npu/image/
deploy/ascend-npu/data/
deploy/*/image/
deploy/*/data/
*.zip
__pycache__/
*.pyc
.git/
models/
